# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: 46E4BE58-730B-4389-8A2F-EA10B3E5E815@1
  inputs:
    azureSubscription: pipeline-acr
    failOnStandardError: false
    inlineScript: |
      az acr login -n kaniko
      docker run --rm -v $(pwd)/ubuntu/16.04/standard:/workspace \
                -v ~/.docker:/kaniko/.docker \
                gcr.io/kaniko-project/executor:latest --cache=true --cache-repo=kaniko.azurecr.io/agents/vsts-agent-cache --destination=kaniko.azurecr.io/agents/vsts-agent:$(Build.BuildId) --dockerfile=/workspace/Dockerfile --context=dir://workspace

